@import url("https://fonts.googleapis.com/css2?family=B612:wght@400;700&display=swap");

:root {
  --primary-color: #6c63ff;
  --off-white-grey: #d1d5db;
}

body {
  font-family: "B612", sans-serif;
  margin: 0px;
}
.container {
  padding-left: 1rem;
  padding-right: 1rem;
}
.container-center {
  max-width: 600px;
  margin: auto;
}

/* links */
.links {
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  text-decoration: none;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.primary-link {
  background-color: var(--primary-color);
  color: white;
  border-radius: 0.5rem;
}

hr {
  margin: 3rem 0rem;
}
.secondary-link {
  color: var(--primary-color);
  border-radius: 0.5rem;
  border: 1px solid var(--primary-color);
}
/* lists */
.non-bullet {
  list-style: none;
}
.inline-bullet li {
  display: inline;
  padding: 0rem 0.5rem;
}
.navigation {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
  border-bottom-left-radius: 1rem;
}
.navigation a {
  color: white;
}
.nav-brand {
  font-weight: bold;
}

.navigation ul {
  text-align: right;
}
.link-active {
  font-weight: bold;
}

.hero {
  padding: 2rem;
}
.hero .hero-img {
  max-width: 350px;
  margin: auto;
  display: block;
}
.hero-heading {
  padding-top: 1rem;
  text-align: center;
}

.section h1 {
  text-align: center;
  padding: 2rem;
}
.ow {
  background-color: var(--off-white-grey);
  padding-bottom: 1rem;
}
.section p{
  padding-bottom: 0.5rem;
}
section {
  padding-bottom: 1rem;
  text-align: center;
}
section p {
  text-align: center;
}
section a {
  text-align: center;
}

.footer {
  margin-top: 40px;
  background-color: var(--primary-color);
  padding: 2rem 1rem;
  text-align: center;
  color: white;
}

.footer a {
  color: white;
}
.footer ul {
  padding-inline-start: 0px;
}
.footer-header {
  font-weight: bold;
  font-size: large;
}
